
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

body {
    font-family: 'Oxygen', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    background: rgb(168,0,2); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(168,0,2,1) 0%, rgba(168,0,2,1) 5%, rgba(255,196,124,1) 10%, rgba(255,255,255,1) 11%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 89%, rgba(255,196,124,1) 90%, rgba(255,196,124,1) 90%, rgba(168,0,2,1) 95%, rgba(168,0,2,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(168,0,2,1)), color-stop(5%,rgba(168,0,2,1)), color-stop(10%,rgba(255,196,124,1)), color-stop(11%,rgba(255,255,255,1)), color-stop(72%,rgba(255,255,255,1)), color-stop(89%,rgba(255,255,255,1)), color-stop(90%,rgba(255,196,124,1)), color-stop(90%,rgba(255,196,124,1)), color-stop(95%,rgba(168,0,2,1)), color-stop(100%,rgba(168,0,2,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(168,0,2,1) 0%,rgba(168,0,2,1) 5%,rgba(255,196,124,1) 10%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 89%,rgba(255,196,124,1) 90%,rgba(255,196,124,1) 90%,rgba(168,0,2,1) 95%,rgba(168,0,2,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(168,0,2,1) 0%,rgba(168,0,2,1) 5%,rgba(255,196,124,1) 10%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 89%,rgba(255,196,124,1) 90%,rgba(255,196,124,1) 90%,rgba(168,0,2,1) 95%,rgba(168,0,2,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(168,0,2,1) 0%,rgba(168,0,2,1) 5%,rgba(255,196,124,1) 10%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 89%,rgba(255,196,124,1) 90%,rgba(255,196,124,1) 90%,rgba(168,0,2,1) 95%,rgba(168,0,2,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(168,0,2,1) 0%,rgba(168,0,2,1) 5%,rgba(255,196,124,1) 10%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 89%,rgba(255,196,124,1) 90%,rgba(255,196,124,1) 90%,rgba(168,0,2,1) 95%,rgba(168,0,2,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80002', endColorstr='#a80002',GradientType=1 ); /* IE6-9 */
}

h1 {
    font-family: 'Raleaway', 'Helvetica', sans-serif;
    font-size: 5em;
    font-weight: 700;
    text-align: left;
}

header {
    text-align: center;
    margin-top: 5px;

}

html, body, .container-fluid {
    min-height: 651px;
}

.container-fluid {
    width: 80%;
    background-color: white;
    border: 5px solid black;
    border-radius: 7px;
    border-top: none;
    border-bottom: none;
}

.sort-ui, .filter-ui {
    margin-bottom: 1em;
}

.dishes {
    margin: 0;
    padding: 0;
}

.dish {
    list-style: none;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 4px;
    overflow:hidden;
}

.dish img {
    float: left;
    max-width: 150px;
    border-radius: 5px;
}

.dish .attributes {
    padding-left: 170px;
}

.dish .name,
.dish .title,
.dish p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.dish .title {
    font-size: 150%;
}

.dish .category {
    font-size: 125%;
}

.filter-ui {
    margin-top: 10px;
}

.sort-ui {
    width: 250px;
}

.ratingBtns {
    float: right;
}

.reviewHeader {
    margin-bottom: 1em;
}

.carousel-control.left, .carousel-control.right {
    background-color: black;
}

#buttonDiv {
    text-align: center;
}

#map {
    height: 500px;
}

