@import url(http://fonts.googleapis.com/css?family=Armata|Raleway:600);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

a, header {
    color: #f9e4bf;
}

body {
    font-family: 'Oxygen', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    background-color: #340000;
}

footer {
    background:url(../img/footerExtender.png);
    background-repeat: repeat-x;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-family: 'Raleaway', 'Helvetica', sans-serif;
    font-size: 5em;
    font-weight: 700;
    text-align: left;
    padding-left: 1em;
}

header {
    text-align: center;
    background:url(../img/content.jpg) no-repeat scroll center;
    background-size : 100%;
}

html, body, .container-fluid {
    min-height: 651px;
}


#footerImage {
    height: 200px; 
    display: inline;
    max-width: 100%;
}

.container-fluid {
    width: 80%;
    background-color: white;
    border: 5px solid black;
    border-radius: 7px;
    border-top: none;
    border-bottom: none;
    padding: 0;
}

.sort-ui, .filter-ui {
    margin-bottom: 1em;
}

.dishes {
    margin: 0;
    padding: 0;
}

.dish {
    list-style: none;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid #CCC;
    background-color: #340000;
    border-radius: 4px;
    overflow:hidden;
}

.dish img {
    float: left;
    max-width: 150px;
    border-radius: 5px;
}

.dish .attributes {
    padding-left: 170px;
}

.dish .name,
.dish .title,
.dish p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.dish .title {
    font-size: 150%;
}

.dish .category {
    font-size: 125%;
}

.filter-ui {
    margin-top: 10px;
}

.nav-tabs>li>1 {
    background-color: white;
}

.sort-ui {
    width: 250px;
}

.ratingBtns {
    float: right;
}

.reviewHeader {
    margin-bottom: 1em;
}

.social-networks {
    text-align: right;
}

.carousel-control.left, .carousel-control.right {
    background-color: black;
}

.attributes {
    color: #f9e4bf;
    font-family: 'Armata', sans-serif;
}
.price {
    font-size: 25px;
}

#buttonDiv {
    text-align: center;
}

#map {
    height: 500px;
}

